<form class="form-inline form" [formGroup]="listForm">
  <div class="container">
    <div class="filters"
         [@filter-position]="showFilters ? 'visible' : 'hidden'"
         [@filter-visibility]="showFilters ? 'visible' : 'hidden'">
      <p class="pt-3"></p>
      <div class="filters-container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <app-input-container [form]="listForm" type="text"
                                 placeHolderInput="NAME" maxLength="50"
                                 id="strain_name" name="strain_name" formControlNameInput="name">

            </app-input-container>
          </div>
        </div>

        <div class="row default-pad-top-row">
          <div class="col-sm-6 col-xs-12">
            <app-combo-container label="Specie">
              <select class="form-control rounded-input single-element-per-row" formControlName="specie" dir="ltr">
                <option value=''>SPECIE</option>
                <option *ngFor="let specie of species;" class="data-list" value="{{specie.code}}">{{specie.description}}
                </option>
              </select>
            </app-combo-container>
          </div>

          <div class="col-sm-6 col-xs-12">
            <app-combo-container label="Specie">
              <select class="form-control rounded-input single-element-per-row" formControlName="requiredExpertize"
                      dir="ltr">
                <option value=''>REQUIRED EXPERTIZE</option>
                <option *ngFor="let requiredExpertize of requiredExpertizes;" class="data-list"
                        value="{{requiredExpertize.code}}">{{requiredExpertize.description}}
                </option>
              </select>
            </app-combo-container>
          </div>
        </div>

        <div class="row default-pad-top-row">
          <div class="col-sm-6 col-xs-12">
            <app-combo-container label="Specie">
              <select class="form-control rounded-input single-element-per-row" formControlName="flowering" dir="ltr">
                <option value>FLOWERING</option>
                <option *ngFor="let flowering of flowerings;" class="data-list" value="{{flowering.code}}">
                  {{flowering.description}}
                </option>
              </select>
            </app-combo-container>
          </div>


          <div class="col-sm-6 col-xs-12">
            <app-between-container [form]="listForm" type="number"
                                   placeHolderFrom="MIN. HEIGHT" placeHolderTo="MAX. HEIGHT"
                                   id="height" name="height" formControlNameFrom="minHeight"
                                   formControlNameTo="maxHeight">
            </app-between-container>
          </div>


        </div>

      </div>
    </div>

    <div title="Click here to open search's filters"
         class="form-group clicable" (click)="onFilterOpen()"
         [@arrow-position]="isFilterVisible() ? 'centered' : 'up'"
         [@arrow-visibility]="isFilterVisible() ? 'centered' : 'up'">
      <div class="centered-buttons col-xs-12 m-sm-auto">
        <i class="fa fa-arrow-down buttonless-icon pt-4 pb-3"
           [@arrow-visibility]="isFilterVisible() ? 'form-group centered' : 'form-group up'"></i>
      </div>
    </div>
    <div class="form-group centered-buttons"
         [@buttons-visibility]="showFilters ? 'centered' : 'up'">
      <div class="col-xs-12 m-sm-auto">
        <button type="button" title="new" (click)="setNewButtonActive()"
                title="Click here to add"
                [ngClass]="newButtonActive && editVisibility ? 'active' : ''"
                class="btn raised btn-info ml-1 mr-1 button-extra-small">
          <i class="fa fa-plus"></i>

        </button>
        <button type="button" (click)="clear()"
                title="Click here to return page to original state"
                [ngClass]="clearButtonActive ? 'active' : ''"
                class="btn raised btn-info ml-1 mr-1 button-extra-small">
          <i class="fa fa-eraser"></i>
        </button>
        <button type="button" (click)="searchAll()"
                title="Click here to search"
                [ngClass]="searchButtonActive ? 'active' : ''"
                class="btn raised btn-info ml-1 mr-1 button-extra-small">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="container grid-container pt-3 pb-3 bg-light"
     [@grid-visibility]="hasSearched ? 'visible' : 'hidden'">

  <app-grid-container [mainGridListSize]="mainGridList?.length">
    <tbody>
    <tr class="col-xs-12 table-sm-12 rounded-table-line"
        *ngFor="let index =index;
             let isOdd=odd;
             let isEven=even; let item of mainGridList | paginate: {
											            	itemsPerPage: 10,
											            	currentPage: currentPage,
											            	totalItems: mainGridList.length}"
        [class.rounded-table-line-odd]="isOdd"
        [class.rounded-table-line-even]="isEven"
        [class.selected]="item === selectedEntity">
      <td style="width: 3%;" class="grid-action"><i
        class="fa fa-trash clicable raised default-color"
        title="click to remove" (click)="remove(item)"></i></td>
      <td (click)="onSelect(item)" style="width: 97%;"
          title="click to edit" routerLinkActive="active" class="clicable">
        <a class="col-sm-12" style="display: block"> <span>{{item.name}}</span>
        </a>
      </td>
    </tr>
    </tbody>

  </app-grid-container>
  <div class="container" *ngIf="mainGridList?.length > 0">
    <div class="col-xs-12 text-center">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-strain-create [ngClass]="editVisibility ? 'full-edit-panel' : ''" [entity]="selectedEntity"
                   [isEditTabVisible]="editVisibility"
                   (internalClose)="toggleEditTabVisibility($event); searchAll();"></app-strain-create>
