<div class="jumbotron jumbotron-fluid header">
	<div class="container">
		<div class="form-group col-sm-12">
			<a rel="icon" href="#"> <i class="app-icon-64-header"></i>
			</a>
			<h1 class="display-4">Saci+zeiro</h1>
		</div>
		<p class="lead subtitle">You don't grow alone</p>
	</div>
</div>

<!-- <div> -->
<!-- 	Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> -->
<!-- 	from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> -->
<!-- 	is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" -->
<!-- 		title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> -->
<!-- </div> -->