<form class="form-inline form" #form="ngForm">
	<div class="form-group col-sm-12 col-md-12">

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon3">Name</span>  <input type="text"
				class="form-control col-xs-3 col-md-3 basic-addon3" name="input_company_name"
				[(ngModel)]="mergeable.name" placeholder="Type in company name"
				required>
		</div>

		<button type="button" *ngIf="mergeable.id == undefined"
			(click)="save()" class="btn btn-primary">save</button>
		<button type="button" *ngIf="mergeable.id !== undefined"
			(click)="update(mergeable)" class="btn btn-primary">update</button>
		<button type="button" (click)="goToSearchPage()"
			class="btn btn-danger">return</button>

	</div>
</form>
