<nav [class.fixed] class="navbar navbar-expand-lg navbar-dark menu-bar">
  <a class="navbar-brand menu-app-name" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="menu-option">Admin Console</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../../','company','list']"
             routerLinkActive="active" href="#">Companies</a>
          <a class="dropdown-item" [routerLink]="['../../','strain','list']"
             routerLinkActive="active" href="#">Strains</a>
        </div>

      </li>
    </ul>

  </div>
  <div class="section-logged-in-user">
    <div class="section-user-name">
      <span class="user-name">Sign in/Sign up</span>
    </div>
    <div class="section-user-icon">
      <a rel="icon" href="#">
        <i class="material-icons user-icon">
          account_circle
        </i>
      </a>
    </div>


  </div>
</nav>
