<div class="jumbotron jumbotron-fluid footer d-none d-sm-none d-lg-block">
	<div class="container">
		<div class="row col-sm-12">
			<div>
				<p class="footer-main-content">Many thanks for using this
					plataform. For suggestions, send an e-mail to
					elmirsnascimento@gmail.com and i will answer it.</p>
				<p class="footer-main-content">Why a Saci? The function of this
					"divinity" of Brazilian folklore was the control, wisdom, and
					manipulation of everything that was related to medicinal plants, as
					guardian of wisdoms and techniques of preparation and use of tea,
					drunks and other medicines made from plants.</p>
			</div>
		</div>
		<div class="row col-sm-12">
			<div class="centered-content">
				<a rel="icon" href="#"> <i class="app-icon-32-footer"></i>
				</a>
			</div>
		</div>
		<hr class="my-4">
		<p class="lead copyright">Copyright © 2018 ESNDEV. All rights
			reserved. Elmir Informática ltda. CNPJ: 00.000.000/0000-00.</p>
	</div>
</div>

