

<form class="form-inline form" #form="ngForm">
	<div class="form-group col-sm-12 col-md-12">
		<label class="small-label">Name: </label> <input type="text"
			class="form-control col-xs-8 col-md-8" name="input_company_name"
			[(ngModel)]="mainFilter.name" placeholder="Type in company name"
			required>
		<button type="button" routerLink="/company/create"
			routerLinkActive="active" class="btn btn-success">new</button>
		<button type="button" (click)="searchAll()" class="btn btn-primary">search</button>

		<!-- <a><i class="fas fa-search"></i></a> -->
	</div>


</form>


<table class="form-group table table-hover"
	*ngIf="mainGridList?.length > 0">
	<thead>
		<tr>
			<td>Name</td>
			<td>Delete</td>
			<td>Update</td>
		</tr>
	</thead>

	<tbody>
		<tr
			*ngFor="let item of mainGridList | paginate: { 
                                                      itemsPerPage: 5,
                                                      currentPage: currentPage,
                                                      totalItems: mainGridList.length}">
			<td>{{ item.name }}</td>
			<td><button type="button" (click)="remove(item)"
					class="btn btn-primary">remove</button></td>
			<td><button type="button"
					[routerLink]="['../../','company', 'edit', item.id]"
					routerLinkActive="active" class="btn btn-primary">edit</button></td>
		</tr>
	</tbody>
	<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</table>
