.app-icon-64-header {
	content: '';
	display: block;
	height: 64px;
	width: 64px;
	top: 0px;
	left: 0px;
	float: left;
	background: transparent url(./app_icon_64.png) no-repeat 0px 0px;
}

.app-icon-64-footer {
	content: '';
	display: inline;
	height: 64px;
	width: 64px;
	background: transparent url(./app_icon_64.png) no-repeat 0px 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.app-icon-32-footer {
	content: '';
	display: inline;
	height: 32px;
	width: 32px;
	background: transparent url(./app_icon_32.png) no-repeat 0px 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.app-icon-24-footer {
	content: '';
	display: inline;
	height: 24px;
	width: 24px;
	background: transparent url(./app_icon_24.png) no-repeat 0px 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.title {
	
}

.subtitle {
	margin-left: 64px;
}

.header {
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.24);
}

.footer {
	position: absolute;
	/* 	right: 0; */
	/* 	bottom: 0; */
	/* 	left: 0; */
	width: 100%;
	margin-bottom: 0px !important;
	box-shadow: 1px -1px 1px 0px rgba(0, 0, 0, 0.24);
}

.copyright {
	font-size: 0.75rem !important;
}

.footer-main-content {
	font-size: 1rem !important;
	font-weight: 300
}

.centered-content {
	margin-left: auto;
	margin-right: auto;
	display: block;
}